body, html {
  height: 100%;
  overflow: hidden;
}

body > input {
	width: 100%;

}



#menu {
	width : 75%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	background-color: #DD4814;
	-webkit-transform: translateX(-80%);
	transform: translateX(-80%);

	padding : 5% 5% 5% 5%;
	overflow: hidden;

	-ms-touch-action: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
}

#menu > div {
	margin-right: 16%;
	padding-bottom: 200px;
	width : 73%;
	position:relative;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s ;
}

#itineraire tbody {
	background-color: white;
}

#itineraire thead {
	background-color: #DD4814;
	color: white;
}


#map {
	position:relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	-ms-touch-action: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#svg {
	width: 4600px;
	height: 4600px;
}

#scroller {
	position: absolute;
	width: 4600px;
	height: 4600px;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s ;
}

.ligne{
	fill:none;
	stroke-width:10;
	stroke-opacity:0.5;
	stroke-dasharray: 10 5 5 10;
	stroke-dashoffset:20;
}

